
{# サイト名 #}
{% set siteName = 'builder' %}

{% set linkRoot = '/' %}

{# ディレクトリ #}
{% set assetsRoot = linkRoot + 'assets/' %}
{# cssディレクトリ #}
{% set cssDir = assetsRoot + 'css/' %}
{# jsディレクトリ #}
{% set jsDir = assetsRoot + 'js/' %}
{# imageディレクトリ #}
{% set imgDir = assetsRoot + 'images/' %}

